.userButtonPopoverCard{
    background-color: #465a63;

}
.userButtonPopoverActionButtonText{
    color: aliceblue;
}

.userPreviewMainIdentifier{
    color: aliceblue;
}

.userPreviewSecondaryIdentifier{
    color: aliceblue
}